.project
how
*.class
*.rpm
tmp
*.DS_Store
*.swp
*.out
*.lock
*.log

*.ipr
*.iws
*.iml
.idea/
bin
dist
.gradle/
build/
.shelf
./classes/

TEST-*.xml
database/scripts/
conf/current.props
intelij/
/out
/package
/*.db
*.version